<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>选你爱我求和</title>
</head>

<body>
  <div id="app">
    <div>
      <div
        style="display: inline-block"
        v-for="(item, index) in arr"
        :key="index"
      >
        <input type="checkbox" :value="item" v-model="numTotal"/>
        <span>{{item}}</span>
      </div>
      <p>你选中的元素, 累加的值和为: {{totalNum}}</p>
    </div>
  </div>
  <script src="./vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        numTotal: [],
        totalNum: 0,
        arr: [9, 15, 19, 25, 29, 31, 48, 57, 62, 79, 87],
      },
      watch: {
        numTotal(newVal){
          this.totalNum = this.numTotal.reduce((sum, item) => sum+item, 0)
        }
      }
    })
  </script>
</body>

</html>