.orderbottom {
  height: 137px;
}
.orderbottom .one {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  margin-bottom: 18px;
}
.orderbottom .one .goods {
  flex: 1;
  display: flex;
  align-items: center;
}
body {
  background-color: pink;
  font-size: 16px;
}
body div {
  width: 2.66666667rem;
  height: 2.66666667rem;
  font-size: 30px;
  background-color: skyblue;
}
body div p {
  font-size: 20px;
}
body div a {
  color: #000;
  text-decoration: none;
}
body div a:hover {
  color: #069;
}
/*
1. 安装 easyless 插件
2. 创建 .less 为后缀名的文件，在文件中编写符合less语法的css代码
3. 保存 .less 文件之后，会产生对应的css文件，将css文件引入到页面中使用即可
*/
