*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #f6f6f6;
}
.w{
    width: 1240px;
    margin: 0 auto;
}
.top-nav{
    width: 100%;
    height: 53px;
    background-color: #333;
    padding-top: 18px;
    ul{
        display: flex;
        justify-content: flex-end;
        li{
            height: 17px;
            line-height: 17px;
            text-align: center;
            padding: 0 15px;
            border-right: 1px solid #dcdcdc;
            &:last-child{
                border-right: 0;
                padding-right: 0;
            }
            i{
                color: #dcdcdc;
            }
            a{
                font-size: 14px;
                text-align: center;
                color: #dcdcdc;
            }
        }
    }
}
.nav{
    background-color: #fff;
    .w{ 
        display: flex;
        img{
            width: 143px;
            margin: 19px 0 19px 50px;
        }
        ul{
            flex: 1;
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            li{
                a{
                    font-size: 16px;
                    color: #000;
                }
            }
        }
        .search{
            width: 264px;
            height: 30px;
            margin-top: 70px;
            border-bottom: 1px solid #dcdcdc;
            .icon-fangdajing{
                font-size: 17px;
                margin: 0 8px;
            }
            input{
                width: 226px;
                height: 28px;
                outline: none;
                border: 0;
            }
        }
        .icon-gouwuche{
            &::after{
                content: '';
                border-radius: 50%;
                background-color: #333;
            }
            display: block;
            font-size: 20px;
            font-weight: 500;
            margin-top: 75px;
        }
    }
}
.main{
    height: 1348px;
    margin-top: 29px;
    .w{
        height: 1348px;
        display: flex;
        justify-content: space-between;
        .left{
            width: 227px;
            background-color: #fff;
            .personal{
                border-bottom: 1px solid #dcdcdc;
                text-align: center;
                // display: flex;
                // flex-direction: column;
                // justify-content: center;
                // align-items: center;
                padding: 47px auto 32px;
                img{
                    width: 85px;
                }
                .photo{
                    margin-top: 47px;
                }
                h1{
                    font-size: 20px;
                    font-weight: 400;
                }
                .vip{
                    width: 93px;
                    height: 26px;
                    background-color: #e05e30;
                    border-radius: 13px;
                    line-height: 26px;
                    text-align: center;
                    margin: 12px auto 32px;
                    img{
                        width: 15px;
                    }
                }
            }
        }
        .right{
            width: 999px;
            .main1{
                height: 132px;
                display: flex;
                background-color: #fff;
                margin-bottom: 18px;
                .user{
                    flex: 1;
                    display: flex;
                    text-align: center;
                    justify-content: space-evenly;
                    border-right: 1px solid #dcdcdc;
                    li{
                        align-self: center;
                        a{
                            display: flex;
                            flex-direction: column;
                            color: #000;
                            .dizhi{
                                width: 16px;
                            }
                            img{
                                margin: 0 auto;
                                width: 25px;
                                margin-bottom: 18px;
                            }
                        }
                    }
                }
                .ticket{
                    flex: 1;
                    display: flex;
                    text-align: center;
                    justify-content: space-evenly;
                    li{
                        align-self: center;
                        a{
                            color: #000;
                            h4{
                                font-size: 23px;
                                color: #e05e30;
                                margin-bottom: 8px;
                            }
                        }
                    }
                }

            }
            .order{
                height: 392px;
                background-color: #fff;
                padding: 28px 20px;
                .title{
                    display: flex;
                    justify-content: space-between;
                    h4{
                        font-size: 22px;
                        font-weight: 400;
                        margin-bottom: 22px;
                    }
                    a{
                        font-size: 16px;
                        color: #999;
                    }
                }
                .details{
                    height: 137px;
                    display: flex;
                    border: 1px solid #f4f4f4;
                    margin-bottom: 21px;
                    li{
                        font-size: 14px;
                        height: 137px;
                        &:nth-child(1){
                            flex: 1;
                            display: flex;
                            img{
                                width: 107px;
                                margin: 17px 0 14px 12px;
                            }
                            .info{
                                align-self: center;
                                h5{
                                    font-size: 16px;
                                    font-weight: 400;
                                }
                                p{
                                    font-size: 14px;
                                    color: #999;
                                    margin-top: 8px;
                                }
                            }
                        }
                        &:nth-child(2){
                            width: 120px;
                            line-height: 137px;
                            color: #e05e30;
                            text-align: center;
                            border-right: 1px solid #f4f4f4;
                        }
                        &:nth-child(3){
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            border-right: 1px solid #f4f4f4;
                            p{
                                &:first-child{
                                    color: #9a2e1f;
                                }
                            }
                            width: 200px;
                        }
                        &:nth-child(4){
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            width: 180px;
                            a{
                                &:first-child{
                                    display: block;
                                    text-align: center;
                                    width: 100px;
                                    height: 30px;
                                    line-height: 30px;
                                    background-color: #5eb69c;  
                                    color: #fff;
                                    margin: 0 auto;
                                    margin-bottom: 10px;
                                    border-radius: 2px;
                                }
                                color: #000;
                            }
                        }
                    }
                }
            }
            .goods{
                height: 383px;
                background-color: #fff;
                margin-top: 20px;
                padding: 28px 20px;
                .title{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #dcdcdc;
                    h4{
                        font-size: 22px;
                        font-weight: 400;
                        margin-bottom: 18px;
                    }
                    a{
                        font-size: 16px;
                        color: #999;
                    }
                }
                .details{
                    display: flex;
                    justify-content: space-between;
                    li{
                        margin-top: 31px;
                        width: 171px;
                        height: 251px;
                        &:nth-child(2){
                            width: 181px;
                            img{
                                margin-left: 21px;
                            }
                        }
                        img{
                            width: 160px;
                            margin-left: 11px;
                        }
                        h4{
                            font-size: 16px;
                            font-weight: 400;
                        }
                        p{
                            font-size: 22px;
                            color: #9a2e1f;
                            margin-top: 10px;
                            span{
                                font-size: 17px;
                            }
                        }
                    }  
                }
            }
        }
    }
}