* {
  padding: 0;
  margin: 0;
}
.father {
  width: 600px;
  height: 600px;
  border: 5px solid yellow;
}
.father .son {
  width: 100px;
  height: 100px;
  background-color: aqua;
}
.father .son2 {
  background-color: yellow;
}
.father .son3 {
  color: yellow;
}
